In [9]:
import pandas as pd
import json
from sqlalchemy import create_engine
import zipfile
import tarfile
import bz2
import sys
import os
import numpy as np

In [10]:
#### load lookup tables
df_city = pd.read_csv('./data/location_ref/city_multilingu_citycoord_countrycode_countrycoord.csv', index_col=0)
df_city.head()

,language,CITY_NAME,city_lat_3857,city_long_3857,city_lat_long_3857,population,COUNTRY_ALPHA2_CODE,country_lat_3857,country_long_3857,country_lat_long_3857
0,pl,nowy jork,40.67,-73.94,"40.67, -73.94",8398748.0,US,39.828175,-98.5795,"39.828175,-98.5795"
1,en,new york city,40.67,-73.94,"40.67, -73.94",8398748.0,US,39.828175,-98.5795,"39.828175,-98.5795"
2,fi,new york,40.67,-73.94,"40.67, -73.94",8398748.0,US,39.828175,-98.5795,"39.828175,-98.5795"
3,he,ניו יורק,40.67,-73.94,"40.67, -73.94",8398748.0,US,39.828175,-98.5795,"39.828175,-98.5795"
4,ru,нью-йорк,40.67,-73.94,"40.67, -73.94",8398748.0,US,39.828175,-98.5795,"39.828175,-98.5795"

In [11]:
df_city.loc[df_city['CITY_NAME'] == 'giza']['city_lat_long_3857'].values[0]

' 29.987, 31.2118'

In [12]:
user_location = 'Giya'
user_location.lower()

'giya'

In [13]:
df_city.loc[df_city['CITY_NAME'] == 'new york']['language'].values

array(['fi'], dtype=object)

In [14]:
#### load lookup tables
df_country = pd.read_csv('./data/location_ref/country_multilingu_countrycode_countrycoord.csv', index_col=0)
df_country.head()

,LANG,LANG_NAME,COUNTRY_ALPHA2_CODE,COUNTRY_NAME,country_lat_3857,country_long_3857,country_lat_long_3857
0,af,AFRIKAANS,AD,andorra,42.558333,1.555278,"42.558333333,1.555277777"
1,af,AFRIKAANS,AE,verenigde arabiese emirate,24.400000,54.300000,"24.4,54.3"
2,af,AFRIKAANS,AF,afganistan,34.000000,66.000000,"34.0,66.0"
3,af,AFRIKAANS,AG,antigua en barbuda,17.116667,-61.850000,"17.116666666,-61.85"
4,af,AFRIKAANS,AI,anguilla,18.227222,-63.048889,"18.227222222,-63.048888888"

In [15]:
df_country.loc[df_country['COUNTRY_NAME']=='andorra']

,LANG,LANG_NAME,COUNTRY_ALPHA2_CODE,COUNTRY_NAME,country_lat_3857,country_long_3857,country_lat_long_3857
0,af,AFRIKAANS,AD,andorra,42.558333,1.555278,"42.558333333,1.555277777"

In [16]:
c_multi = 'andorra'
tweet_lang = 'af'
if df_country.loc[df_country['COUNTRY_NAME']==c_multi]['LANG'].values == tweet_lang:
    print('yes')

yes

In [17]:
df_country.shape

(13387, 7)

In [18]:
## create lookup table for country code - english country names (for map display)
# load reliable ENGLISH 
df_councode_counname = pd.read_csv('./data/location_ref/IP2LOCATION-COUNTRY-MULTILINGUAL.csv')
df_councode_counname_en = df_councode_counname[df_councode_counname['LANG_NAME']=='ENGLISH']

df_councode_counname_en.head()

,LANG,LANG_NAME,COUNTRY_ALPHA2_CODE,COUNTRY_ALPHA3_CODE,COUNTRY_NUMERIC_CODE,COUNTRY_NAME
3735,EN,ENGLISH,AD,AND,20,Andorra
3736,EN,ENGLISH,AE,ARE,784,United Arab Emirates
3737,EN,ENGLISH,AF,AFG,4,Afghanistan
3738,EN,ENGLISH,AG,ATG,28,Antigua and Barbuda
3739,EN,ENGLISH,AI,AIA,660,Anguilla

In [19]:
df_councode_counname_en.loc[df_councode_counname_en['COUNTRY_ALPHA2_CODE']=='DE']['COUNTRY_NAME'].values[0]

'Germany'

### As test data:
#### load only two files from every hour folder from the first day of the month

In [20]:
tweet_data = []

# import from one day
#next folder: stream-2020-06/06 2/02/02

for folder in sorted(os.listdir("./data/archiveteam-twitter-stream-2020-06/06/01/")):
    if not folder.startswith('.'):
        print('load folder', folder)
        
        t = 0
        for file in sorted(os.listdir("./data/archiveteam-twitter-stream-2020-06/06/01/" + folder)):
            
            t += 1
            if file.endswith('.bz2'):
                
                print(t)
                print('load file', file)

                with bz2.open("./data/archiveteam-twitter-stream-2020-06/06/01/" + folder + "/" + file, "rt") as bzinput:


                    for i, line in enumerate(bzinput):
                        tweet = json.loads(line)
                        tweet_data.append(tweet)

            #include break statement to test
            # load only 2 files from each hour folder 
                if t == 2: break

load folder 00
1
load file 29.json.bz2
2
load file 30.json.bz2
load folder 01
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 02
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 03
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 04
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 05
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 06
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 07
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 08
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 09
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 10
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 11
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 12
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 13
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 14
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 15
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 16
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 17
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 18
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 19
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 20
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 21
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 22
1
load file 00.json.bz2
2
load file 01.json.bz2
load folder 23
1
load file 00.json.bz2
2
load file 01.json.bz2

In [21]:
#len(tweet_data)

In [22]:
#tweet_data[51]

### Functions

In [23]:
def extract_url(urls) -> str:
    
    """ Function to extract the url from the entities dict of the tweet json"""
    
    found_url = ''
    url_given = urls
    
    if url_given != None:
        for url in url_given:
            found_url = url.get('url')
            
    return found_url

### Write to postgres

In [24]:
# Declare postgres config
HOST = 'localhost'
USERNAME = 'postgres'
PORT = '5432'
DB = 'tweets_multilingu'
PASSWORD = 'postgres'

# Create a postgres connection and assign it to 'engine' variable
engine = create_engine(f'postgres://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DB}')

In [29]:
def load(data):
    """ Loads transformed tweeets into the Postgres database
    Parameters:
    ------------
    tweets: List of tweet dictionaries that were retrieved from the Twitter API """

    insert_query = """INSERT INTO tweets_test (
        tweet_id, 
        timestamp_ms,
        tweet, 
        url_in_tweet, 
        
        user_url, 
        user_location, 
        user_followers_count, 
        user_verified, 
        user_statuses_count,
        user_id,
        user_created_at,

        lang,  
        
        user_loc_city_coords,
        user_loc_country_coords,
        from_country_coords,
        from_country_name,
        to_country_coords,
        to_country_name
        )
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"""
    
    counter = 0 
    counter_loc = 0 
    counter_country_ment = 0 
    
    # loop through list of jsons 
    for j in data:
        # check for valid entries and if tweet json contains any location information
        # get user dict
        user = j.get('user')
        user_location = j.get('user', {}).get('location')
        valid_entry = j.get('created_at')
        place_attr = j.get('place')
        user_url = j.get('user', {}).get('url')
        urls = j.get('entities', {}).get('urls')
        lang_code = j.get('lang')
        
        # conditions to still be included ! 
        follower_c = j.get('user', {}).get('followers_count')
        ver = j.get('user', {}).get('verified')
        
        counter += 1
        
        if (valid_entry and len(urls) != 0 and user_url) and (user_location or place_attr) and (ver == True) and (follower_c > 10000):
            
            counter_loc += 1 
            
            # loop through multilingual city list
            for c_name_multi in df_city['CITY_NAME']:
                # check if the found cityname in the tweet is a cityname in the language the tweet was written in (detected from twitter)
                if c_name_multi in j['text'] and df_city.loc[df_city['CITY_NAME'] == c_name_multi]['language'].values[0] == lang_code:
                    
                    #print('city_name: ', c_name_multi, 'in language: ', lang_code)
                    
                    # map the cityname to its countries coordinates 
                    to_country_coords = df_city.loc[df_city['CITY_NAME'] == c_name_multi]['country_lat_long_3857'].values[0]
                    # get countrycode and then countryname
                    to_country_code = df_country.loc[df_country['country_lat_long_3857']== to_country_coords]['COUNTRY_ALPHA2_CODE'].values[0]
                    to_country_name =  df_councode_counname_en.loc[df_councode_counname_en['COUNTRY_ALPHA2_CODE']==to_country_code]['COUNTRY_NAME'].values[0]

                    
                    # predefine from attributes
                    user_loc_city_coords = ''
                    from_country_coords = ''
                    from_country_name = ''
                    # find user loc coordinates and country coords
                    for _c_name_multi in df_city['CITY_NAME']:
                        if _c_name_multi in user_location.lower(): # and df_city.loc[df_city['CITY_NAME'] == c_name_multi]['language'].values[0] == lang_code:
        
                            user_loc_city_coords = df_city.loc[df_city['CITY_NAME'] == _c_name_multi]['city_lat_long_3857'].values[0]
                            from_country_coords = df_city.loc[df_city['CITY_NAME'] == _c_name_multi]['country_lat_long_3857'].values[0]
                            from_country_code = df_country.loc[df_country['country_lat_long_3857']== from_country_coords]['COUNTRY_ALPHA2_CODE'].values[0]
                            from_country_name = df_councode_counname_en.loc[df_councode_counname_en['COUNTRY_ALPHA2_CODE']==from_country_code]['COUNTRY_NAME'].values[0]
                            print(user_location, user_loc_city_coords)
               
            # loop through multilingual country list 
            for c_name_multi in df_country['COUNTRY_NAME']:
                # check if the found country in the tweet is a country in the language the tweet was written in (detected from twitter)

                if c_name_multi in j['text'] and df_country.loc[df_country['COUNTRY_NAME'] == c_name_multi]['LANG'].values == lang_code:
                    
                    #print('country_name: ', c_name_multi, 'in language: ', lang_code)
                    
                    counter_country_ment += 1
              
                   
                    # get country coords
                    to_country_coords = df_country.loc[df_country['COUNTRY_NAME'] == c_name_multi]['country_lat_long_3857'].values[0]
                    # get countrycode and then countryname
                    to_country_code = df_country.loc[df_country['country_lat_long_3857']== to_country_coords]['COUNTRY_ALPHA2_CODE'].values[0]
                    to_country_name =  df_councode_counname_en.loc[df_councode_counname_en['COUNTRY_ALPHA2_CODE']==to_country_code]['COUNTRY_NAME'].values[0]
                    
                    # predefine from attributes
                    user_loc_country_coords = ''
                    from_country_coords = ''
                    from_country_name = ''
                    # find user loc coordinates and country coords
                    for c_name_multi in df_country['COUNTRY_NAME']:
                        if c_name_multi in user_location.lower(): # and df_city.loc[df_city['CITY_NAME'] == c_name_multi]['language'].values[0] == lang_code:

                            user_loc_country_coords = df_country.loc[df_country['COUNTRY_NAME'] == c_name_multi]['country_lat_long_3857'].values[0]
                            from_country_coords = df_country.loc[df_country['COUNTRY_NAME'] == c_name_multi]['country_lat_long_3857'].values[0]
                            from_country_code = df_country.loc[df_country['country_lat_long_3857']== from_country_coords]['COUNTRY_ALPHA2_CODE'].values[0]
                            from_country_name = df_councode_counname_en.loc[df_councode_counname_en['COUNTRY_ALPHA2_CODE']==from_country_code]['COUNTRY_NAME'].values[0]
                            #print(user_location, user_loc_country_coords)
                    
                    #print(c_name_multi, to_country_coords, to_country_name)

                            
                    ### CHECK IF FROM_COUNTRY != TO_COUNTRY
                    ### IF SO, DO NOT WRITE TO DATABASE!!!
                        


                    # get url mentionend in tweet from entities dict
                    found_url = extract_url(j.get('entities').get('urls'))
                    

                    # insert values into postgres DB                             
                    engine.execute(insert_query, (
                        j['id'], #id
                        j['timestamp_ms'], #timestamp_ms
                        j['text'], #tweet
                        found_url, #url_in_tweet
                        user['url'], #user_url
                        user_location, #user_location
                        user['followers_count'], #user_followers_count
                        user['verified'], #user_verified
                        user['statuses_count'], #user_statuses_count
                        user['id'], #user_id
                        user['created_at'], #user_created_at
                        
                        j['lang'], #lang
                        user_loc_city_coords,
                        user_loc_country_coords,
                        from_country_coords,
                        from_country_name,
                        to_country_coords,
                        to_country_name
                        )         
                    )
    
    
#     print('scanned jsons :', counter, 
#           '\n with some location information and user url given :', counter_loc,
#           '\n with some location information, user url and country name mentioned :',counter_country_ment)

In [30]:
load(tweet_data)

cairo
Cairo, Egypt  30.056111111, 31.239444444
doha
Qatar - Doha  25.3, 51.533333333
doh
Qatar - Doha  25.3, 51.533333333
dubai
Dubai, United Arab Emirates  25.269722222, 55.309444444
دوحة
الدوحة - قطر  25.3, 51.533333333
الدوحة
الدوحة - قطر  25.3, 51.533333333

In [ ]:
                    counter_country_ment += 1
                    
                    print(c_name_multi)
                    to_country_coords = df_country.loc[df_country['COUNTRY_NAME'] == c_name_multi]['country_lat_long_3857'].values[0]
                    print(to_country_coords)

                    
                    user_location = user.get('location')
                    print(user_location)
                    
                    # get user loc coords
                    from_country_coords = "XY"

In [ ]:
                    # get place dict if exists and extract first coordinate of the bounding box
                    place = j.get('place')
                    country_code = ''
                    tweet_country_code = ''
                    bounding_coords = ''
                    city_name = ''
                    from_coords = ''
                    from_country_coords = ''

                    if place != None:
                        country_code = place.get('country_code')
                        tweet_country_code = place.get('country_code')
                        
#                         bounding_coords = ','.join(list(map(lambda n: str(n), place.get('bounding_box').get('coordinates')[0][0])))
                        bounding_coords = ''
                        
                        city_name = place.get('full_name')
                        from_coords = 'xx'# get_coordinates(bounding_coords, city_name, user_location)
#                         from_country_coords = get_from_country_coords(country_code)
                        from_country_coords = ''

In [ ]:
def get_country_coords(country_or_city_name_multilingu):
    
    """Function to retrieve the coordinates of the geographical center of a country 
    from the country name or a cityname that is contained in a string (usecase: tweet). 
    Based on the lookup in two pandas dataframes.
    
    Parameters:
    ----------------------------
    country_or_city_name_multilingu: string
    
    CSV files needed for the coordinates lookup:
    ----------------------------
    df_city = './data/location_ref/city_multilingu_citycoord_countrycode_countrycoord.csv'
    df_country = './data/location_ref/country_multilingu_countrycode_countrycoord.csv'
    
    """
    
    # make input string lowercase
    search_string = country_or_city_name_multilingu.lower()
    
    # account for special cases UK, US and USA 
    if country_or_city_name_multilingu == 'UK':
        print('UK found')
        return df_country.loc[df_country['COUNTRY_NAME'] == 'united kingdom']['country_lat_long_3857'].values
    
    if country_or_city_name_multilingu == 'US' or search_string == 'USA':
        return df_country.loc[df_country['COUNTRY_NAME'] == 'united states']['country_lat_long_3857'].values

    # check for country name
    if not (df_country[df_country['COUNTRY_NAME'].isin([search_string])]).empty:
        print('country found')
        return df_country.loc[df_country['COUNTRY_NAME'] == search_string]['country_lat_long_3857'].values[0]

    # if country name not found, check for city name
    elif not (df_city[df_city['CITY_NAME'].str.contains(search_string)]).empty:
        print('cityname found')
        idx = df_city[df_city['CITY_NAME'].str.contains(search_string)]['population'].idxmax()
        return df_city.iloc[idx]['country_lat_long_3857']
    
    print('No coords found')
    return None

In [ ]:

### if place object exists in tweet:
def get_coordinates(bounding_coords, city_name, user_location) -> str:
    if bounding_coords:
        return bounding_coords
    elif city_name:
        # Lookup city name coordinates
        return '79.125472, 28.982011'
    elif user_location:
        # Lookup user location
        return '79.125472, 28.982011'
    elif country_code:
        # Lookup country code
        return get_from_country_coords(country_code)